<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원가입</h1>
	<hr>
	<fieldset>
		<legend>회원가입</legend>
		<form action="/Jdbc" method="post">
			아이디 : <input type="text" name="memId"><br>
			비밀번호 : <input type="password" name="memPw"><br>
			이름 : <input type="text" name="memName"><br>
			전화번호 : <input type="text" name="phone"><br>
			EMAIL : <input type="text" name="email"><br>
			성별 : <input type="radio" name="gender" value="남"> 남자<input type="radio" name="gender" value="여"> 여자<br>
			<input type="submit" value="회원가입">
			<input type="reset" value="초기화">
			
		</form>
	</fieldset>
</body>
</html>